# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
env/

# Ignore data
data/

logs/

trained/

node_modules/
testWebApp/
*.h5
processed/
uploads/
.DS_Store