absl-py
astunparse
blinker
click
Flask
Flask-Cors
gast
google-pasta
grpcio
h5py
importlib_metadata
itsdangerous
Jinja2
keras==2.14.0
Keras-Preprocessing
libclang
Markdown
MarkupSafe
numpy
opencv-python
opt_einsum
packaging
pillow
protobuf==3.20.3
scipy
six
tensorboard==2.14.0
tensorboard-data-server
tensorflow-estimator
tensorflow==2.14
termcolor
typing_extensions
Werkzeug
wrapt
zipp
